{% extends 'base.html' %} <!-- basically extends the base.html template -->

{% block title %}Falooda{% endblock title %}

{% block mycss %} {% endblock mycss%}

{% block body %}

<div class="container my-3">
    <h1 class="my-4 text-center">Flavours in Falooda:</h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/static/img/rosefalooda.jpg" height="230" width="600" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rose Falooda</h5>
                    <p class="card-text">Summer’s best treat, Rose Falooda is a dessert drink with rose syrup, crunchy sweet basil seeds,
                     silky noodles and milk topped with ice cream. </p> 
                </div>
                <div class="card-footer">
                    <h6 style="text-align: center;"><b>Rs:30/-</b></h6>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/static/img/mangofalooda.jpg" height="230" width="600" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mango Falooda</h5>
                    <p class="card-text">Mango falooda is a refreshing Indian summer dessert or drink made by layering mango chunks, mango puree,
                     basil seeds, etc in a tall glass.</p>
                </div>
                <div class="card-footer">
                    <h6 style="text-align: center;"><b>Rs:40/-</b></h6>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/static/img/mixfruitfalooda.jpg" height="230" width="600" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mixed Fruit Falooda</h5>
                    <p class="card-text">Mixed fruit falooda is the most refreshing falooda available consisting of mixed fruits, sweetended milk and 
                        icecream. Thats delicious!</p>
                </div>
                <div class="card-footer">
                    <h6 style="text-align: center;"><b>Rs:45/-</b></h6>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/static/img/kulfifalooda.jpg" height="230" width="600" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kulfi Falooda</h5>
                    <p class="card-text">Kulfi falooda is a frozen dessert, topped with falooda sev along with rose syrup and dry fruits. This is the
                        most loved receipe out here.</p>
                </div>
                <div class="card-footer">
                    <h6 style="text-align: center;"><b>Rs:35/-</b></h6>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/static/img/chocolatefalooda.jpg" height="230" width="600" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chocolate Falooda</h5>
                    <p class="card-text">Chocolate Falooda is a delicious calorie-rich dessert with chocolate milk, topped with chocolate chips and 
                        chocolate icecream. That looks like chocolaty!</p>
                </div>
                <div class="card-footer">
                    <h6 style="text-align: center;"><b>Rs:35/-</b></h6>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/static/img/butterfalooda.jpg" height="230" width="600" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Butterscotch Falooda</h5>
                    <p class="card-text">Butterscotch Falooda is a refreshing dessert that has signature taste relished by all age groups. Its the most consumed 
                        one.</p>
                </div>
                <div class="card-footer">
                    <h6 style="text-align: center;"><b>Rs:30/-</b></h6>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock body %}